html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;

    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            > .title {
                font-size: 2rem;
            }

            .accounts {
                display: flex;
                width: 100%;
                display: flex;
                justify-content: stretch;
                flex-direction: column;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
                min-width: 380px;
                margin-top: 1rem;
                > * {
                    flex-grow: 2;
                }
                .account {
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    user-select: none;
                    border-bottom: 2px solid darken(#f5f5f5, 10%);
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    .icon {
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            border-radius: 100%;
                        }
                    }
                    .name {
                        flex-grow: 2;
                        display: flex;
                        padding-left: 1rem;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        .top {
                            font-weight: bold;
                        }
                        .bot {
                            color: lighten(black, 20%);
                            font-weight: bold;
                        }
                    }
                    &.active {
                        background: darken(white, 10%);
                    }
                }
            }

            .btns {
                display: flex;
                justify-content: center;
                align-items: stretch;
                flex-direction: column;
                width: 100%;
            }
            .button {
                flex-grow: 2;
                background: white;
                border-radius: 0.2rem;

                display: flex;
                justify-content: stretch;
                align-items: stretch;

                margin-top: 1rem;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
                cursor: pointer;
                user-select: none;
                > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .icon {
                    background: blue;
                    height: 2.5rem;
                    width: 2.5rem;
                    border-bottom: 2px solid darken(blue, 10%);
                    img,
                    svg {
                        width: 70%;
                        height: 70%;
                        object-fit: contain;
                    }
                    svg {
                        filter: invert(1);
                        width: 60%;
                        height: 60%;
                    }
                }
                .text {
                    padding: 0.5rem 1.25rem;
                    flex-grow: 2;
                    border-bottom: 2px solid darken(#f5f5f5, 10%);
                    justify-content: flex-start;
                }
                &:hover {
                    filter: brightness(0.95);
                }
                &.github {
                    .icon {
                        background: #444;
                        border-bottom: 2px solid darken(#444, 10%);
                    }
                }
                &.webauthn {
                    .icon {
                        background: #ff002f;
                        border-bottom: 2px solid darken(#ff002f, 10%);
                    }
                }
            }
        }
    }
}
.card {
    background: white;
    border-radius: 0.2rem;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    padding: 1.5rem 1.5rem;

    border-bottom: 2px solid darken(#f5f5f5, 10%);

    margin-top: 1rem;
    min-height: 5rem;
    min-width: 1px;

    &.flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
