$primary: #f44b79;

.app.dark {
    background: #000;
    color: white;

    .header {
        background: black;
        border-bottom: 2px solid lighten(#000, 15%);

        > .left {
            .logo {
                .sub {
                    color: white;
                }
            }
        }
    }

    .horizontal {
        background: lighten(black, 10%);

        .sidebar {
            background: black;
            border-right: 2px solid lighten(black, 20%);
            > a {
                color: white;
            }
            .entry {
                border-color: transparent;
                color: white;
                .txt {
                    color: white;
                }
                .icon svg {
                    filter: invert(1);
                }
                &:hover {
                    background: lighten(black, 20%);
                }
                &.active {
                    color: black;
                    background: $primary;
                }
            }
        }

        .content_wrap {
            .content {
                .list {
                    .entry {
                        border-bottom: 2px solid lighten(black, 10%);
                        background: black;
                    }
                }
            }
        }
    }
}
